
h1{
    background-color: #581748;
    color: #F2FFFC;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 60px;
    text-align: center;
}
h2{
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 40px;
}
p{
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
    font-size: 120%;
    text-align: justify;
    
    
}